.heading img {
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.newarrivals h4 {
    font-weight: 400;
}

.newarrivals span {
    color: #e94560;
    font-size: 15px;
    font-weight: 500;
}

.newarrivals .box img {
    width: 100%;
    height: 100%;
}