/* Head */
.head {
    background-color: #0f3460;
    padding: 10px 0;
    color: #fff;
}
.head i {
    margin-right: 10px;
}
.head label {
    margin-right: 30px;
    font-size: 13px;
}
/* Search */
.search {
    padding: 20px 0;
}
.search .logo img {
    width: 60%;
    height: auto;
}
.search .width {
    width: 18%;
}
.search-box {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.1);
}
.search-box i {
    width: 5%;
    text-align: center;
    padding: 15px 20px;
    margin-right: 5px;
    font-size: 20px;
    opacity: 0.5;   
}
.search-box input {
    width: 100%;
    padding: 10px;
}
::placeholder {
    font-size: 15px;
}
.search-box span {
    width: 20%;
    opacity: 0.5;
    border-left: 2px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.cart {
    position: relative;
}
.search .cart span {
    position: absolute;
    top: -10px;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    background-color: #e94560;
    color: #fff;
}
.search .f-flex {
    justify-content: end;
}
.categories {
    background-color: #f6f9fc;
    padding: 0 30px;
    border-radius: 5px;
    height: 6vh;
    margin-top: 5px;
}
.categories span {
    margin-right: 20px;
    font-size: 30px;
    margin-top: 10px;
}
.categories h4 {
    font-weight: 500;
    margin-top: 10px;
}
.categories h4 i {
    margin-left: 10px;
}
.header {
    height: 8vh;
    box-shadow: -1px 15px 17px -8px rgba(0, 0, 0, 0.1);
}
.header ul {
    line-height: 8vh;
}
.header ul li {
    margin-left: 30px;
}
.header ul li a {
    transition: .4s;
    font-size: 15px;
    position: relative;
    font-weight: 500;
}
.header ul li a:hover {
    color: #e94560;
    background-color: #e2e8ec;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}
.open {
    display: none;
}
.search.active {
    height: 12vh;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #fff;
    box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.2);
    transition: .5s;
}
@media (max-width: 768px) {
    .header ul {
        padding-top: 30px;
    }
    .nav-links-MobileMenu {
        position: absolute;
        display: block;
        list-style-type: none;
        left: 0;
        top: 0;
        transition: .5s;
        width: 60%;
        height: 100vh;
        background-color: #fff;
        z-index: 888;
        box-shadow: rgba(50, 50, 93, 0.3) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px ;
    }
    .header ul li {
        width: 100%;
        transition: all .5s ease-in-out;
        text-transform: uppercase;
        line-height: 70px;
    }
    .header .link {
        display: none;
    }
    .close, 
    .open {
        position: absolute;
        top: 25px;
        right: 20px;
        color: #ff014f;
        display: block;
        font-size: 25px;
        z-index: 999;
    }
    .close {
        right: 45%;
    }
    .open {
        top: 27.5%;
        right: 30px;
    }
    .close .home-btn{
        background: linear-gradient(145deg, #e2e8ec, #fff);
        color: #ff014f;
        border-radius: 50%;
        padding: 0;
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
}